@import "tailwindcss";

/* Local Fonts */
@import "@fontsource/inter";
@import "@fontsource/playfair-display";
@import "@fontsource/great-vibes";
@import "@fontsource/dancing-script";
@import "@fontsource/parisienne";
@import "@fontsource/alex-brush";
@import "@fontsource/pinyon-script";


@theme {
  --color-primary: #5A2E2E;
  --color-secondary: #F8F5F0;
  --color-accent: #B79D7B;
  --color-background: #FCFAF7;
  --color-surface: #FFFFFF;
  
  --color-text-primary: #2F2F2F;
  --color-text-secondary: #6B7280;
  --color-text-light: #FFFFFF;
  
  --color-border-custom: #E7E2DA;

  --font-heading: "Playfair Display", serif;
  --font-body: "Inter", sans-serif;
  --font-script-1: "Great Vibes", cursive;
  --font-script-2: "Dancing Script", cursive;
  --font-script-3: "Parisienne", cursive;
  --font-script-4: "Alex Brush", cursive;
  --font-script-5: "Pinyon Script", cursive;

  --radius-sm: 8px;
  --radius-md: 16px;
  --radius-lg: 24px;

  --shadow-card: 0 10px 30px rgba(0,0,0,.08);
  --shadow-button: 0 8px 20px rgba(0,0,0,.15);
}

/* Global */
html,
body,
#root {
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-body);
  background-color: var(--color-background);
  color: var(--color-text-primary);
  overflow-x: hidden;
}